*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-family: Montserrat;
}

.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.aboute-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-phone-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #676e79;
}

.contacts-phone-text{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
}

.tech-skills-title{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.tech-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item {
    color:#ff6b08;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.tech-skills-text {
    color: #abafb5;
}

.soft-skills{
    font-size: 22px;
    font-weight: 700;
    color: #dddfe1;
    line-height: 24px;
    margin-bottom: 15px
    
}

.soft-skills-item {
    color:#ff6b08;
    font-size: 15px;
    font-weight: 400px;
    line-height: 24px;
    margin-left: 20px;
}

.soft-skills-text{
    color: #abb0b5;
}


.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.username{
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description{
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.info-container{
    margin-bottom: 65px;
}


.aboute-me-title{
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    width: 95px;
    margin-bottom: 10px;
}

.project-link{
    color:  #676e79;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.color-text{
    color:  #676e79;
}

.my-item{
    font-weight: 700;
    margin-left: 15px;
}


.projects-container{
    margin-bottom: 55px;
}

.work-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;

}

.work-experience{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.work-color{
    color: #ff6e0d;
}

.work-period{
    color:#9f9f9f ;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.profession-divider{
    color: black;
    width: 1px;
    height: 14px;
}

.profession-dutis{
    color: #868686;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.work-experience-item{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.management-item{
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
}